@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Rubik Mono One", monospace; */
/* font-family: "Istok Web", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Rubik", sans-serif; */
  font-family: "RocknRoll One", sans-serif !important;
}

footer h1::after {
  content: "";
  height: 4px;
  background-color: red;
  width: 50px;
  position: absolute;
  bottom: -10px;
  left: 0;
}


.spinner {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 red, 17.4px 21.8px 0 0 red, -6.2px 27.2px 0 0 red, -25.2px 12px 0 0 red, -25.2px -12px 0 0 red, -6.2px -27.2px 0 0 red, 17.4px -21.8px 0 0 red;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}