@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Rubik Mono One", monospace; */
/* font-family: "Istok Web", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Rubik", sans-serif; */
  font-family: "RocknRoll One", sans-serif !important;
}

footer h1::after {
  content: "";
  height: 4px;
  background-color: red;
  width: 50px;
  position: absolute;
  bottom: -10px;
  left: 0;
}



.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}